/.vscode
/cmake-3.20.2-windows-x86_64.msi
/dlib-19.22.0
/dlib-19.22.0.tar.gz
/etc
/Lib
/mingliu.ttc
/output.avi
/pyvenv.cfg
/readme.txt
/Scripts
/share
/song.py
/try_002.py
/try_mysql copy.py
/try_window2.py
/pics/*